
.button{
    width:100%;
    box-sizing: border-box;
    font-size:110%;
    padding: 4%;
    font-family: Pixel, serif;
    background-color: rgba(0, 0, 0, 0);
    color: #D3D3D3;
    border: 2px solid white;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    @media screen and (max-width: 381px) {
        font-size: 90%;
    }
    &:hover {
        opacity: 1;
    }

}

