.notification {
    background-color: aliceblue;

    padding: 8pt;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    animation: fadeInRight 0.7s linear;
    border: 2px solid white;
    border-radius: 8pt;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(5%);
    }
    to { opacity: 1 }
}

.notification:hover {
    -webkit-box-shadow: 2px 6px 32px 5px rgba(148,98,168,1);
    -moz-box-shadow: 2px 6px 32px 5px rgba(148,98,168,1);
    box-shadow: 2px 6px 32px 5px rgba(148,98,168,1);
}
.notification__check-icon {
    content: url("./Check_green_icon.svg");
    /*margin-right:32pt;*/
}

.notification__exit-icon {
    align-self: flex-start;
    content: url("./exit.svg");
    margin-top: -6pt;
    margin-right: -6pt;
}
