
.sign-x {
    width:30%;
    border:2px solid white;
    border-radius: 8px;
    text-align: center;
}

.sign-x_center {
    margin:5% auto 0;
}

.sign-x__header {
    padding-top: 5%;
    font-size:1.9rem;
}

.sign-x-form__input_width_m {
    width:70%;
}

.sign-x-form__icon {
    content: url("./show.svg");
    position: absolute;
    top:35%;
    right:16%;
}

.form__error {
    color:red;
    font-size:0.8rem;
    text-align: center;
}

.sign-x-form__input_margin_m {
    margin:8% auto 0;
}

.sign-x-form__content {
    position: relative;
}
.sign-x-form__button_width_m {
    width:50%;
}

.sign-x-form__button_height_h {
    height:10%;
}

.sign-x-form__button_margin_m {
    margin:10% auto 7%;
}
