.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-around;
    text-align: center;
    &__item {
        flex-basis: 20%;
        color: red;
    }
    &__header {
        font-size: 450%;
    }
    &_content {
        font-size: 250%;
    }
    &__button {
        width: 20%;
    }
}
