@import "templates/SignX/signx.scss";
@import "templates/Canvas/Canvas.scss";
@import "templates/Singleplayer/Singleplayer.scss";
@import "templates/Multiplayer/Multiplayer.scss";
@import "templates/Button/Button.scss";
@import "templates/Input/Input.scss";
@import "templates/Menu/Menu.scss";
@import "templates/Header/Header.scss";
@import "templates/Score/Score.scss";
@import "templates/Profile/Profile.scss";
@import "templates/FileInput/FileInput.scss";
@import "templates/Notification/Notification.scss";
@import "templates/404NotFound/Error404.scss";

@font-face {
    font-family: Pixel;
    src: url("./fonts/16596.ttf") format('truetype');
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

html, body, #application {
    height: 100%;
}

body {
    margin:0;
    overflow: hidden;
}

html {
    background: url(images/background.png) repeat 0 0;
    background-size: cover;
    animation: slide 20s linear infinite;
    font-family: Pixel, serif;
    color: white;
}

a {
    text-decoration: none;
    background: transparent;
    border: 2pt solid white;
    border-radius: 4pt;
    color: #D3D3D3;
    text-align: center;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    &:visited {
        color: #D3D3D3;
    }
    &:hover {
        opacity: 1;
    }
}
