@import url("components/SignX/signx.css");
@import url("components/Button/Button.css");
@import url("components/Input/Input.css");
@import url("components/Menu/Menu.css");
@import url("components/Header/Header.css");

@font-face {
    font-family: Pixel;
    src: url("./silkscreen/slkscr.ttf") format('truetype');
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

html, body, #application {
    height: 100%;
}

html {
    background: url(./background.png) repeat 0 0;
    background-size: cover;
    animation: slide 20s linear infinite;
    font-family: Pixel, serif;
    color: white;
}

a {
    text-decoration: none;
    background: transparent;
    border: 2pt solid white;
    border-radius: 4pt;
    color: #D3D3D3;
    text-align: center;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

a:visited {
    color: #D3D3D3;
}

a:hover {
    opacity: 1;
}