@import "components/SignX/signx.scss";
@import "components/Canvas/Canvas.scss";
@import "components/Singleplayer/Singleplayer.scss";
@import "components/Multiplayer/Multiplayer.scss";
@import "components/Button/Button.scss";
@import "components/Input/Input.scss";
@import "components/Menu/Menu.scss";
@import "components/Header/Header.scss";
@import "components/Score/Score.scss";
@import "components/Profile/Profile.scss";
@import "components/FileInput/FileInput.scss";
@import "components/Notification/Notification.scss";
@import "components/404NotFound/Error404.scss";

@font-face {
    font-family: Pixel;
    src: url("./fonts/16596.ttf") format('truetype');
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

html, body, #application {
    height: 100%;
}

body {
    overflow: hidden;
    @media screen and (max-width: 768px) {
        overflow: scroll;
    }
}

html {
    background: url(images/background.png) repeat 0 0;
    background-size: cover;
    animation: slide 20s linear infinite;
    font-family: Pixel, serif;
    color: white;
}

a {
    text-decoration: none;
    background: transparent;
    border: 2pt solid white;
    border-radius: 4pt;
    color: #D3D3D3;
    text-align: center;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    &:visited {
        color: #D3D3D3;
    }
    &:hover {
        opacity: 1;
    }
}
