input:invalid{
    border:2px solid red;
}

input:focus{
    border:2px solid yellow;
}

input{
    height: 24px;
    border-radius: 8px;
    border:1px solid grey;
    padding: 2%;
    font-family: Pixel, serif;
    outline:none;
    font-size:95%;
}


