.header {
    display:flex;
    flex-basis: auto;

    justify-content: space-around;
    flex-flow:row;
    &__item {
        flex-basis: 42%;
        @media screen and (max-width: 768px) {
            flex-basis: 45%;
        }
    }
    @media screen and (max-width: 768px) {
        justify-content: space-between;
    }
}
