.score-nav__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-nav__bottom {
    display: block;
    margin: 8pt auto;
    padding: 8pt;
}

.score-items {
    border: 2pt solid white;
    border-radius: 8pt;
    text-align: center;
    margin: 8pt;
    height: 100%;
}

.score-button__backward {
    margin: 8pt auto;
    padding: 8pt;
    border-radius: 4pt;
    background-color: #7BD63B;
    font-size: 16pt;
    font-family: inherit;
    border: 0;
}

#scoreboard {
    margin: auto;
    vertical-align: middle;
    width: calc(100% - 16pt);
}

#scoreboard th {
    border-bottom: 2pt solid white;
}