<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../main.scss">
    <link rel="stylesheet" href="Singleplayer.scss">
</head>
<body>
    <section class="singleplayer">
        <div class="singleplayer__canvas">
            <canvas class="canvas"></canvas>
        </div>
        <div class="singleplayer-menu">
            <article class="singleplayer-menu__item singleplayer-menu__item_width_20">
                <div class="info__label">
                    <div class="info__item header">Level</div>
                    <div class="info__item" data-section="score">0</div>
                </div>
                <div class="info__label">
                    <div class="info__item header">Score</div>
                    <div class="info__item"><span class="username">User1</span>: <span class="score">0</span></div>
                </div>
            </article>
            <article class="singleplayer-menu__item singleplayer-menu__item_width_40">
                <div class="singleplayer-menu__button"><button class="button">Help</button></div>
                <div class="singleplayer-menu__button"><button class="button">Scoreboard</button></div>
                <div class="singleplayer-menu__button"><button class="button">Pause</button></div>
                <div class="singleplayer-menu__button"><button class="button">Help</button></div>
            </article>
        </div>
    </section>
</body>
</html>